<div id="main">
<div mat-dialog-content id="sidebar">
  <p>Enter the data in the fields</p>
  <mat-form-field>
    <input  matInput placeholder="IPV4" [(ngModel)]="data.ipv4">    
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="IPV6" [(ngModel)]="data.ipv6">    
  </mat-form-field>
  <mat-form-field>
    <input required matInput placeholder="Host" [(ngModel)]="data.host">    
  </mat-form-field>
    <button  *ngIf="data.host !== null" mat-button (click)="onDeleteClick()">Delete Host</button> 

    <mat-form-field>
  
    <input required matInput placeholder="Adapter" [(ngModel)]="data.adapter">    
  </mat-form-field>
  <mat-form-field>
    <input required matInput placeholder="Mac" [(ngModel)]="data.mac">    
  </mat-form-field>  
</div>

<div id="page-wrap">
  <p>Currently Assigned Records</p>
  <div *ngIf="data.display">
  <mat-selection-list *ngIf="data.records !== 'undefined'">
    <mat-list-option *ngFor="let record of data.records" [selected]="true">
      {{record.record_type}}
    </mat-list-option>
  </mat-selection-list>
</div>
  <div *ngIf="!data.display">
    <p>No records</p>
  </div>
  <br/>
  <br/>
  <div align="center" *ngIf="!showButton">
  <button (click)="toggleButton()" mat-button>Add a Record</button>
  </div>

  <div *ngIf="showButton">
<mat-form-field>
  <mat-label>Pick a Record Type</mat-label>
  <mat-select [(ngModel)]="data.record_type">
    <mat-option *ngFor="let record of data.AvailableRecords" [(value)]="record.record_type">
      {{record.record_type}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
</div>
<div id="floatLeft">
  <button mat-button (click)="onNoClick()">No, Thanks</button>
  <button  mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
</div>
